<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestione Ospedale</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <h1>Gestione Database</h1>

    <select id="menuTendina">
        <option value="">-- Seleziona un'opzione --</option>
        <option value="opzione1">Utente</option>
        <option value="opzione2">Ufficio</option>
        <option value="opzione3">Aggiungi Utente</option>
        <option value="opzione4">Modifica Utente</option>
        <option value="opzione5">Aggiungi Ufficio</option>
        <option value="opzione6">Modifica Ufficio</option>
    </select>

    <div class="sections">
        <input type="text" placeholder="" id="insertData" style="display: none; max-width: 1200px;">
        <section id="reparti-section" STYLE="display: none">
            <h2>Reparti</h2>
            <div id="reparti-list" class="card-container"></div>
        </section>

        <section id="utenti-section" style="display: none">
            <h2>Utenti</h2>
            <div id="utenti-list" class="card-container"></div>
        </section>


    </div>
</div>

<script type="module" src="/api.js"></script>
<script type="module" src="/reparti.js"></script>
<script type="module" src="/utenti.js"></script>
<script type="module" src="/script.js"></script>
</body>
</html>